{% extends "shark/base.html" %}

{% block title %}
    StarShark: Submitting
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>{{ profile.username }}</td>
        </tr>
        <tr>
            <td>Profile pic</td>
        </tr>

        <tr>
            <td>Name: </td><td>{{ profile.name }}</td>
        </tr>
        <tr>
            <td>Age: </td><td>{{ profile.birthdate | timesince }}</td>
        </tr>
    </table>

    <table caption="Submitted">
        <tr>
            <td>Sample submission</td>
        </tr>
    </table>

{% endblock %}

